body {
  background-color: floralwhite;
}

.flow-text {
  align-items: stretch;
  font-family: monospace;
}

ul {
  display: flex;
}
li {
  list-style: square;
  margin-right: 10px;
}

.results-flex {
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
}



.results-flex li {
  margin-top: 10px;
}

.brand-logo.center,
.white-text,
h4 {
  font-family: monospace;
  font-size: 30px;
}

label {
  color: black;
  font-size: 15px;
}

.middle-section .left-side {
  width: 400px;
  height: 600px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-movie {
  margin-top: 10px;
  transition: all 0.5s;
  border-radius: 10px;
  border: none;
  background-color: rgb(150, 238, 238);
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-movie:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.history {
  display: flex;
  flex-direction: column;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.right-side {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.fav-movies {
  display: flex;
  flex-direction: column;
}

.page-footer {
  background-color: skyblue;
  margin-top: 20px;
}
.nav-wrapper {
  background-color: indianred;
}
.card-content.white-text {
  background-color: skyblue;
}
.active,
button {
  font-family: cursive;
}

.center-welcome {
  text-align: center;
}

.margin-welcome {
  margin: 10px;
}

@media screen and (max-width: 1100px) {
  main,
  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-wrapper .brand-logo {
    font-size: 15px;
  }

  .middle-section {
    margin: 20px;

  }

  .right-side {
    margin-top: 20px;
  }
}

@media screen and (max-width: 975px) {
  .middle-section {
    flex-direction: column;

  }

  .box {
    margin: 0 auto;
    width: 375px;
  }

  .movie-history {
    text-align: center;
  }

  .btn-movie {
    margin-bottom: 30px;
  }


}
